body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.top-banner {
  display: flex;
  margin: 0 10%;
  justify-content: space-between;
}
.half-width {
  width: 50%;
}
.top-banner h1 {
  margin-top: 20%;
  border-left: 7px solid orange;
  border-radius: 4px;
  padding-left: 20px;
}
.top-banner img {
  margin-top: -60px;
}
h1 {
  font-family: "Yeseva One";
  font-size: 60px;
  font-weight: 400;
  padding-left: 10px;
  color: #3e3e3e;
}
.half-width p {
  font-size: 20px;
  color: #3e3e3e;
  margin-bottom: 30px;
}
.half-width img {
  width: 80%;
}
.special-color {
  color: #ffad5a;
}
.half-width .link-button {
  text-decoration: none;
  color: white;
  background-color: #ff5959;
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 5px;
}
small {
  display: block;
  margin-top: 80px;
  font-size: 16px;
  color: #3e3e3e;
}
.my-mission h1 {
  text-align: center;
  font-size: 60px;
}
.my-mission .card-area {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}
.my-mission .card-area .card {
  height: 376px;
  width: 360px;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
}
.my-mission .card-area .card h4 {
  font-size: 25px;
}
.my-mission .card-area .first-card {
  background-color: rgba(79, 157, 166, 0.1);
}
.my-mission .card-area .second-card {
  background-color: rgba(255, 89, 89, 0.1);
}
.my-mission .card-area .third-card {
  background-color: #fff4d6;
}

.my-mission .card-area .card img {
  width: 141px;
}
.development-section {
  background-image: url(images/shapes/shape-1.png);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position-x: 110px;
  background-position-y: 110px;
}
.development-area {
  display: flex;
  margin: 0 10%;
  margin-top: 100px;
}
.development-area .half-width img {
  width: 100%;
  max-width: 450px;
}
.community {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 110px;
  background-position: right;
  background-position-y: 380px;
  background-position-x: 92%;
}
.community-area {
  display: flex;
  margin: 0 10%;
  margin-top: 80px;
  padding-bottom: 50px;
}
.community-area img {
  width: 100%;
  float: right;
  max-width: 450px;
}
.my-section {
  background-color: gray;
  height: 400px;
  position: relative;
  margin-top: 250px;
}
.myself {
  display: flex;
  margin: -150px 25% 0 25%;
  background-color: rgba(79, 157, 166, 0.5);
  padding: 2%;
  position: absolute;
  box-shadow: 2px 2px 30px lightblue;
  border-radius: 10px;
}
footer {
  text-align: center;
  background-color: #0b0d17;
  margin-top: -30px;
  color: white;
  padding: 2% 30%;
}
footer h1 {
  font-family: "The Nautigal", cursive;
  color: white;
}
footer p {
  font-size: 14px;
}
